/* ALWAYS USE CLASSES and some ID's ONLY */
/* always use hexadecimal codes in rgb */

h1,
h2,
h3,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1 {
  /* color: blue; */
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-family: sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #1098ad;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  /* display: inline; */
}
/* to remove margin bottom of the last item from list */
li:last-child {
  margin-bottom: 0;
}

/* Styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* color: lightgray; */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* LVHA */

/* another way of combining with selector */
footer p {
  font-size: 16px;
}

header p {
  color: black;
  font-style: italic;
}

/* This is a nested selector*/

/* article header p {
  font-style: italic;
} */

#author {
  /* color:black */
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

/* classes */

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/*removing bullet-points*/

/* ul {
  list-style: none;
} */

.related {
  list-style: none;
}

/* Resolving conflicts */
/* 
#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
} */

/* this is a hack! use it only if you cant figure out why it isnt working !*/
/* footer p {
  color: greenyellow !important;
} */

/* Working with colors */

h1,
h2,
h3 {
  color: #1098ad;
}

.main-header {
  background-color: mistyrose;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

nav {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}

article {
  margin-bottom: 60px;
}

body {
  border-top: 10px solid #1098ad;
  background-color: #f7f7f7;
  position: relative;
}

/* .first-li {
  font-weight: bold;
} */

/* Pseudo-classes */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* select child odd or even */
li:nth-child(odd) {
  /* color: darkmagenta; */
}

article p:first-child {
  color: black;
}

article p:last-child {
  color: red;
}

/* Styling Links */

/* targets the href */
a:link {
  color: #1098ad;
  text-decoration: none; /* eliminate underline from href*/
}

a:visited {
  /*display differently if clicked before*/
  /* color:#777; */
  color: #1098ad;
}

a:hover {
  /*change color when hover over*/
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  /* when clicked */
  background-color: black;
  font-style: italic;
}

/*LVHA is the mnemonic memorisation of all applued up here */

/*Using Margins and Paddings*/
/*To apply to everything in the page - global reset margin*/
* {
  margin: 0;
  padding: 0;
}

aside {
  background-color: mistyrose;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* border-left: 5px solid #1098ad;
  border-right: 5px solid #1098ad; */
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0;
  width: 700px;
  font-weight: bold;
}

.post-header {
  margin-bottom: 40px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

/*Whenever you need some space inside of an element mostly when there is a background color or a border on the element = then you always use padding*/
/*In order to create space outside of the element or between multiple elements = always use margin*/
/*In case you need to add vertical space then use = margin-bottom*/

/* SIDE BAR - ADDING DIMENSIONS*/
.post-img {
  width: 100%;
  height: auto;
}

/*Centering our Page - div */
.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  position: relative;
}

/*INLINE BOX*/
nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px; */

  /*will use whole space ane vertically place elements*/
  /* display: block;  */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

/*selecting the last element*/
nav a:link:last-child {
  margin-right: 0;
}

/* Change Block level elements to Inline elements*/
/* just add 'display:inline' */

/*INLINE-BLOCK ELEMENT*/
/*display:inline-block*/

/*ABSOLUTE POSITIONING (use it for buttons only)*/
button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  /* top: 50px;
  left: 50px; */
  bottom: 50px; /*We need to set position:relative in the `body` or `container*/
  right: 50px;
}

/*styling the firs letter 'symbol' of header*/
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/*styling first line of a paragraph*/
p::first-line {
  color: red;
}

/*adjacent sibling selector and styling*/
h3 + p::first-line {
  /* color: red; */
}

h2 {
  position: relative;
}

/*pseudo element 'after'(last child) and 'before'(first-child)*/
h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  /*our element is not in position, since it is an inline-block element we need to add 'position relative' to h2. Then here we need to add 'position absolute' in order to adjust the element to where we want.*/
  position: absolute;
  top: -15px;
  right: -25px;
}
